.login-content{
    background-color: #fafafa;
}

.login-content .card-header{
    background-color: $primary-color;
    color: $white;
}

.login-content .app-footer{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

@media (min-width: 768px) {
    .login-content .app-footer{
        margin-left: 0;
    }
}
