// Componant: Footer

.app-footer {
    padding: 15px;
    height: 50px;
    display: flex;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
    transition: margin-left 0.3s ease;
}

@media (min-width: 768px) {
    .app-footer {
        margin-left: 230px;
    }
}
